HELP.md

# backend spring boot 輸出和 wrapper
/backend/target/
/backend/.mvn/wrapper/maven-wrapper.jar
!backend/**/src/main/**/target/
!backend/**/src/test/**/target/

### STS ###
/backend/.apt_generated
/backend/.classpath
/backend/.factorypath
/backend/.project
/backend/.settings
/backend/.springBeans
/backend/.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/backend/nbproject/private/
/backend/nbbuild/
/backend/dist/
/backend/nbdist/
/backend/.nb-gradle/
/backend/build/
!backend/**/src/main/**/build/
!backend/**/src/test/**/build/

### VS Code ###
.vscode/

# 前端依賴與輸出檔案
/frontend/node_modules
/frontend/build
/frontend/dist

# 環境設定
.env
